@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #51413d,
    #78563f,
    #93713a,
    #9e9335,
    #94ba3e
  );
  overflow: hidden;
}
body header img {
  width: 13rem;
}

body main {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

body main section.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px 0 50px 0;
  position: relative;
  height: 5vh;
  margin: 10px;
  color: #fff;
  flex: 1;
  cursor: pointer;
  transition: flex 0.7s ease-in;

  display: flex;
  justify-content: flex-start;
}
body main section.panel article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

body main section.panel article h2 {
  font-weight: 700;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1.2px;
  margin-top: auto;
  padding: 0 1rem;
  color: #fabd3b;
  -webkit-text-stroke: 1.5px black;
  opacity: 0;
}
body main section.panel article h1 {
  font-weight: 700;
  font-family: 'Poppins';

  font-size: 2.5rem;
  letter-spacing: 1.2px;
  margin-bottom: 1rem;
  padding: 0 1rem;
  color: #94ba3e;
  opacity: 0;
  -webkit-text-stroke: 1.5px black;
}
body main section.panel article p {
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  opacity: 0;
}

/* ACTIVE  */

body main section.panel.active {
  flex: 15;
  border: 2px solid #fabd3b;
}
body main section.panel.active h2 {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.5s;
}
body main section.panel.active article h1 {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.5s;
}
body main section.panel.active p {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.5s;
}

@media screen and (max-width: 1450px) {
  body main {
    width: 75vw;
  }
}
@media screen and (max-width: 950px) {
  body main {
    width: 100vw;
  }
}

@media screen and (max-width: 720px) {
  body main {
    display: flex;
    flex-direction: row;
  }
  body main section.panel {
    height: 80vh;
    flex: 1;
  }
  body main section.panel article {
    position: absolute;
    bottom: 0;
  }
  body main section.panel article h2 {
    font-size: 1.5rem;
  }
  body main section.panel article h1 {
    font-size: 1.75rem;
  }
  body main section.panel article p {
    font-size: 1rem;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

@media screen and (max-width: 468px) {
  body main section.panel article h2 {
    font-size: 1rem;
  }
  body main section.panel article h2 {
    font-size: 1.25rem;
  }
  body main section.panel article p {
    font-size: 0.25rem;
  }
}
